# === Gradio Interface ===
gradio

# === Base ===
python-dotenv
requests
beautifulsoup4
pypdf
markdown

# === LangChain & Ecosystem ===
langchain
langchain-community
chromadb
sentence-transformers
langchain-text-splitters
langchain-huggingface

# === LLM Providers ===
langchain-groq

# === Embeddings ===
huggingface-hub
torch
transformers

# === Evaluation (Optional) ===
numpy
scikit-learn
tqdm